<div #topBar class="header-area">
  <button class="hide-button" (click)="toggleHide()">
    <img src="assets/menu_blue.png" style="max-height: 30px;">
  </button>
  <div class="menu-wrapper" [style.opacity]="opacity" [style.height]="height+'px'" [style.overflow]="overflow">
    <app-logo></app-logo>
    <div class="app-nav"></div>
    <div class="logo-area">
      <a class="logo-anchor" href="https://www.instagram.com/kieran_suka/"><img class="logo" src="assets/insta-logo.png"></a>
      <a class="logo-anchor" href="https://github.com/kieransukachevin"><img class="logo" src="assets/github-logo.png"></a>
      <a class="logo-anchor" href="https://www.linkedin.com/in/kieran-sukachevin-365a87198/"><img class="logo" src="assets/linkedin-logo.png"></a>  
    </div>
  </div>
</div>
