.header-area {
  background-color: var(--content-area-color);
  /* border-radius: var(--smooth-edge-radius); */
  padding: var(--universal-margin);
}

a {
  margin: 1rem;
  display: inline-block;
}

img {
  margin: 0;
  max-width: 1rem;
  border-radius: 0;
  opacity: var(--header-content-opacity);
}

.inner-menu-area {
  transition: width 0.3s, height 0.3s;
  max-height: 11em;
  min-width: 100%;
}

@media (min-width: 50em) and (orientation: landscape) { /* Landscape mode */
  a {
    margin: 0;
  }
  
  .header-area {
    position: sticky;
    top: 1em;
  }
  
  .social-nav {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .inner-menu-area {
    min-width: 100%;
    max-height: 100%;
  }
}
