.header-area {
  background-color: var(--content-area-color);
  border-radius: var(--smooth-edge-radius);
  width: 100%;
}

a img {
  margin: 0;
  max-width: 1rem;
  border-radius: 0;
}

a {
  margin: var(--universal-margin);
}

button {
  width: 2.5rem;
  height: 2.5rem;
  background-image: url("../../assets/menu_blue.png");
  background-size: cover;
  background-position: top center;
  padding: 0;
  align-items: center;
}

.inner-menu-area {
  transition: width 0.3s, height 0.3s;
}

@media (max-width: 50em) {  /* Portrait mode */
  .header-area {
    overflow: hidden;
  }

  .social-nav {
    display: inline-block;
  }

  button {
    display: inline-block;
    align-items: center;
  }

  .inner-menu-area {
    margin: auto;
    max-height: 10em;
    min-width: 100%;
  }
}

@media (min-width: 50em) and (orientation: landscape) { /* Landscape mode */
  .header-area {
    position: sticky;
    top: 1em;
  }
  
  .social-nav {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    display: flex;
  }
}
