node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist
/static/resume.css
resume.pdf
.cache

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
