.about-wrapper {
    margin: auto;
    display: block;
}
.about-wrapper:after {
    clear: both;
    content: "";
    display: block;
}
.about-image {
    display: block;
    float: left;
    max-width: 40%;
}
.about-description {
    display: block;
    float: left;
    max-width: 40%;
    margin-left: 40px;
}