@import 'tailwindcss';

@layer base {
	h1 {
		@apply text-4xl;
	}
	h2 {
		@apply text-xl;
		/* @apply border-b border-slate-400; */
		@apply pb-1;
		/* @apply border-b border-slate-400; */
	}
	h3 {
		@apply text-lg;
	}
	h4 {
		@apply text-lg;
	}
	h5 {
		/* @apply text-sm; */
		@apply text-gray-600;
	}
	li {
		@apply leading-5;
	}
}
