<app-in-view>
    <div class="about-wrapper">
        <img src="assets/headshot.jpg" class="about-image">
        <div class="about-description">
            <h2>About</h2>
            <p>Hi, my name is Kieran Sukachevin. I am a software developer and artist 
                looking to combine my skills and interests in programming and art.
                In the Spring of 2022, I graduated from Walla Walla University with a major in computer science and a minor in art.
                I am currently searching for a career in software development, focusing in the area of graphics-related software or user interface engineering.
                Check out my website which includes my software projects and art!
            </p>
            <p>
                Contact // <a class="email-source" href="mailto:kieran.sukachevin@gmail.com">kieran.sukachevin@gmail.com</a>
            </p>
            <p>
                Resume // <a class="email-source" href="assets/Resume_Kieran_Sukachevin.pdf">Kieran Sukachevin</a>
            </p>
        </div>
    </div>
    
</app-in-view>
