img {
    width: 100%;
}

a {
    color: var(--secondary-color);
    text-align: left;
    margin: 0;
    padding: 0;
}

@media (max-width: 50em) {  /* Portrait mode */
    p {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    a {
        text-align: center;
    }

    .about-wrapper {
        display: block;
    }
}

@media (min-width: 50em) {  /* Landscape mode */
    .about-wrapper {
        display: flex;
    }

    .about-description {
        width: 60%;
    }

    .image-wrapper {
        margin-right: 20px;
        width: 40%;
    }    
}
