.about-wrapper {
    margin: auto;
    display: block;
    margin-bottom: 30px;
}
.about-wrapper:after {
    clear: both;
    content: "";
    display: block;
}
.about-image {
    float: left;
    max-width: 40%;
    margin-right: 20px;
}
.email-source {
    text-align: left;
    margin: 0;
    padding: 0;
}
