.contact-area {
    max-width: 30rem;
    margin-bottom: var(--text-margin);
    text-align: center;
}

img {
    width: 30rem;
    align-self: baseline;
    justify-self: center;
}

@media (min-width: 50em) {  /* Landscape mode */
    .about-description {
        align-self: flex-end;
        justify-self: flex-start;
    }

    .contact-area {
        text-align: left;
    }
}
