<app-in-view #aboutWrap>
    <img alt="Website logo" src="assets/headshot_2.jpg">
    <div #aboutDesc class="about-description">
        <h2>About</h2>
        <p>Hi, my name is Kieran Sukachevin. I am a software developer and artist 
            specializing in frontend web application development. I am a graduate from Walla Walla University
             with a major in computer science and a minor in art.
            Currently, I am an Application Developer at HighPoint Technology Solutions. In this position, 
            I am a lead frontend developer responsible for maintaining and developing HighPoint web applications. This position involves working with a
            variety of technologies, languages, and concepts including React, 
            TypeScript, JavaScript, HTML, CSS, GraphQL, REST, Responsive Development, Web Accessibility and more.
            Check out my website which includes my software projects and art!
        </p>
        <div class="contact-area">
            <address>
                Contact // <a target="_blank" href="mailto:kieran.sukachevin@gmail.com">kieran.sukachevin@gmail.com</a>
            </address>
            <span class="normal-font-style">Resume // <a target="_blank" href="assets/Resume_Kieran_Sukachevin.pdf">Kieran Sukachevin</a></span>
        </div>
    </div>
</app-in-view>
