img {
    justify-self: center;
    grid-column: span 2;
    height: auto;
    width: auto;
}

@media (min-width: 50em) and (orientation: landscape) { /* Landscape mode */
    img {
        min-height: 30em; 
        max-height: 90vh;
        max-width: 100%;
        width: auto;
    }
}
