.art {
    width: 100%;
}

@media (max-width: 50em) {  /* Portrait mode */
    .thumbnail-image {
        max-width: 100%;
    }
}

@media (min-width: 50em) and (orientation: landscape) { /* Landscape mode */
    .thumbnail-image {
        max-height: 90vh; 
        max-width: 90vh;
    }
}
