h1 {
  position: absolute;
  top: 25%;
}

img {
  position: relative;
  width: 160px;
  margin-top: 1rem;
}

.logo-area {
  width: 160px;
}

@media (max-width: 50em) {  /* Portrait mode */
  h1 {
    width: 200%;
    left: -50%;
    text-align: center;
  }

  .logo-area {
    position: relative;
    margin: auto;
    align-items: center;
  }
}

@media (min-width: 50em) and (orientation: landscape) { /* Landscape mode */
  h1 {
    width: 100%;
  }

  .logo-area {
    position: relative;
  }
}
