.logo-area {
  margin: var(--universal-margin);
}

h1 {
  color: var(--header-content-color);
  position: absolute;
  height: 2em;
  top: calc(50% - 2em);
  left: 0;
  width: 100%;
  opacity: 0.3;
  transition: opacity 0.4s;
}

img {
  height: 100%;
  opacity: var(--header-content-opacity);
  transition: opacity 0.4s;
}

/* hide header and reveal image */

.logo-area:hover h1 {
  opacity: 1;
}

.logo-area:hover img {
  opacity: 0.3;
}

@media (max-width: 50em) {  /* Portrait mode */
  h1 {
    text-align: center;
  }

  .logo-area {
    background-position: center;
    height: 5em;
    text-align: center;
  }
}

@media (min-width: 50em) and (orientation: landscape) { /* Landscape mode */
  .logo-area {
    width: 100%;
    height: 10em;
    text-align: left;
  }
}
