<div #projWrap class="in-view-wrapper" [style.margin-bottom]="bottomMargin">
    <app-in-view>
        <div *ngIf="isImg; else isVideo">
            <img alt="Project {{title}} preview gif" src="{{media}}">
        </div>
        <ng-template #isVideo>
            <video autoplay loop src="{{media}}"></video>
        </ng-template>
        <div #projDesc class="description-wrapper">
            <h2><a target="_blank" href="{{source}}">{{title}}</a></h2>
            <p>{{description}}</p>
        </div>
    </app-in-view>
</div>
