a {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
}

img {
    width: 100%;
    height: auto;
}

h2 {
    color: var(--secondary-color);
}

@media (max-width: 50em) {  /* Portrait mode */
    p {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    .project-area {
        display: block;
    }
}

@media (min-width: 50em) {  /* Landscape mode */
    .project-area {
        display: flex;
    }

    .image-wrapper {
        margin-right: 20px;
        width: 60%;
    }

    .description-wrapper {
        width: 40%;
    }
}
