a {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
}

img {
    width: 30rem;
    align-self: flex-start;
    justify-self: center;
}

h2 {
    color: var(--secondary-color);
}

@media (min-width: 50em) {  /* Landscape mode */
    .description-wrapper {
        position: relative;
        align-self: flex-start;
        justify-self: flex-start;
        transition: top 0.1s;
    }
}
