* {
    --top-offset: 40px;
}


.in-view {
    position: relative;
    top: var(--top-offset);
    opacity: 0.3;
    background-color: var(--content-area-color);
    padding: 1em;
    border-radius: var(--smooth-edge-radius);
    display: grid;
    column-gap: var(--universal-margin);
    grid-template-columns: 1fr;
    transition: top 1s;
}

.transition {
    animation-name: animation-keyframes;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

@media (min-width: 50em) {  /* Lanscape */
    .in-view {
        grid-template-columns: 1fr 1fr;
    }
}

@keyframes animation-keyframes {
    from {
        transform: translate(0, 0);
        opacity: 0.3;
    }
    to {
        transform: translate(0, calc(-1 * var(--top-offset)));
        opacity: 1;
    }
}

