
.in-view {
    position: relative;
    top: 30px;
    opacity: 0.3;
    background-color: var(--content-area-color);
    padding: 1em;
    border-radius: var(--smooth-edge-radius);
    display: grid;
    column-gap: var(--universal-margin);
    grid-template-columns: 1fr;
}

@media (min-width: 50em) {  /* Lanscape */
    .in-view {
        grid-template-columns: 1fr 1fr;
    }
}

@keyframes animation-keyframes {
    from {
        transform: translate(0, 0);
        opacity: 0.3;
    }
    to {
        transform: translate(0, -30px);
        opacity: 1;
    }
}

