
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

/* GENERAL STYLES */

* {

  /* custom properties */
  --secondary-color: rgb(42, 97, 218);
  --main-color: rgb(37, 37, 37);
  --hover-opacity: 0.7;

  /* universal styles */
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: var(--main-color);
  background-color: rgba(255, 255, 255, 0.963);

} 

h1 {
  font-size: 150%;
  letter-spacing: 0.4em;
  text-align: left;
}

h2, h3 {
  line-height: 2;
  letter-spacing: 0.4em;
  text-align: left;
  font-size: medium;
  color: var(--secondary-color);
}

p {
  line-height: 2;
  letter-spacing: 0.2em;
  text-align: left;
  font-size: small;
}

body, 
input[type="text"],
button {
  height: auto;
}

button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  letter-spacing: 0.25em;
  outline: none;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

button:focus {
  outline: none;
}

a {
  border: none;
  border-radius: 10px;
  color: var(--secondary-color);
  font-size: small;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  letter-spacing: 0.3em;
}

/* opacity change on hover */

button:hover,
a:hover {
  opacity: var(--hover-opacity);
  text-decoration: none;
}

/* scale animation (focusable, button) */

@keyframes un-focus {
  from {transform: scale(1.2);}
  to {transform: scale(1);}
}

@keyframes focus {
  from {transform: scale(1);}
  to {transform: scale(1.2);}
}

.larger-scale,
button {
  animation-name: un-focus;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
}

.larger-scale:hover,
button:hover {
  animation-name: focus;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
}

/* scale animation (in-view component and header component) */

@keyframes small-scale {
  from {transform: scale(1.02);}
  to {transform: scale(1);}
}

@keyframes large-scale {
  from {transform: scale(1);}
  to {transform: scale(1.02);}
}

.smaller-scale {
  animation-name: small-scale;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
}

.smaller-scale:hover {
  animation-name: large-scale;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
}
