
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins&display=swap');

/* GENERAL STYLES */

* {

  /* custom properties */
  --secondary-color: rgb(77, 121, 215);
  /* --secondary-color: rgb(33, 124, 182); */
  --bold-color: rgb(57, 57, 57);
  --light-color: rgb(102, 102, 102);
  /* --back-ground-color: rgb(255, 255, 255); */
  --back-ground-color: rgba(241, 241, 241, 0.822);
  /* --content-area-color: rgba(241, 241, 241, 0.822);*/
  --content-area-color: rgba(255, 255, 255, 0.822);
  /* --header-content-color: rgba(255, 255, 255, 0.9); */
  --header-content-color: rgb(37, 37, 37);
  --line-border-size: 0.08em;
  --header-content-opacity: 0.9;
  --hover-opacity: 0.7;
  --smooth-edge-radius: 0;
  --universal-margin: 1em;
  --text-margin: 3rem;
  --animation-speed: 0.2s;

  /* universal styles */
  font-family: 'Poppins', sans-serif;
  color: var(--bold-color);
  font-weight: 400;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  line-height: 1.5;
  font-size: 1rem;
  background-color: transparent;
}

body {
  margin: 0;
  background-color: var(--back-ground-color);
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: left;
  color: var(--bold-color);
}

h2, h3 {
  line-height: 1.2;
  font-size: 3rem;
  max-width: 30rem;
  letter-spacing: 0.2em;
  text-align: left;
  font-weight: 900;
  margin-top: calc(var(--text-margin) * 1.5);
  margin-bottom: calc(var(--text-margin));
  color: var(--bold-color);
  overflow-wrap: break-word;
}

p {
  margin: auto;
  max-width: 30rem;
  text-align: left;
  margin-bottom: var(--text-margin);
  margin-right: var(--text-margin);
}

@media (max-width: 50em) {
  h2 {
    margin: auto;
    margin-top: calc(var(--text-margin) * 1.5);
    margin-bottom: calc(var(--text-margin));
  }

  p {
    margin-right: auto;
  }
}

img {
  border-radius: var(--smooth-edge-radius);
}

body, 
input[type="text"],
button {
  height: auto;
}

address {
  max-width: 30rem;
  margin: auto;
  font-style: normal;
}

button {
  border: none;
  border-radius: var(--smooth-edge-radius);
  cursor: pointer;
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: var(--universal-margin);
  letter-spacing: 0.25em;
  outline: none;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

button:focus {
  outline: none;
}

a {
  display: inline-block;
  border: none;
  color: var(--secondary-color);
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Bottom border that appears when element is hovered */

a:after {
  content: "";
  width: 10%;
  display: block;
  color: inherit;
  margin-top: 0.2em;
  transition: width 0.3s;
  border: solid var(--line-border-size);
}

a:hover:after {
  width: 100%;
  color: inherit;
}

@media (max-width: 50em) {
  a:after {
    margin: auto;
  }
}

/* opacity change on hover */

.opacity-change {
  opacity: var(--hover-opacity);
}

/* scale animation (focusable, button) */

@keyframes un-focus {
  from {transform: scale(1.2);}
  to {transform: scale(1);}
}

@keyframes focus {
  from {transform: scale(1);}
  to {transform: scale(1.2);}
}

.larger-scale,
button {
  animation-name: un-focus;
  animation-fill-mode: forwards;
  animation-duration: var(--animation-speed);
}

.larger-scale:hover,
button:hover {
  animation-name: focus;
  animation-fill-mode: forwards;
  animation-duration: var(--animation-speed);
}

/* scale animation (in-view component and header component) */

@keyframes small-scale {
  from {transform: scale(1.02);}
  to {transform: scale(1);}
}

@keyframes large-scale {
  from {transform: scale(1);}
  to {transform: scale(1.02);}
}

.smaller-scale {
  animation-name: small-scale;
  animation-fill-mode: forwards;
  animation-duration: var(--animation-speed);
  transition: box-shadow var(--animation-speed);
}

.smaller-scale:hover {
  animation-name: large-scale;
  animation-fill-mode: forwards;
  animation-duration: var(--animation-speed);
  box-shadow: 0 0 10px 2px rgb(37, 37, 37, 0.2);
}
