/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

  h1 {
    color: rgb(37, 37, 37);
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 250%;
    letter-spacing: 0.2em !important;
    text-align: left;
  }
  h1.category-header {
    /* font-weight: lighter; */
    margin-bottom: 50px;
  }
  h2, h3 {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    /* font-weight: lighter; */
    line-height: 2;
    letter-spacing: 0.4em !important;
    text-align:left;
    font-size: medium;
    color: rgb(42, 97, 218);
  }
  p {
    color: rgb(37, 37, 37);
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    /* font-weight: lighter; */
    line-height: 2;
    letter-spacing: 0.2em !important;
    text-align:left;
    font-size: small;
  }
  body, input[type="text"], button {
    color: rgb(37, 37, 37);
    /* background-color: rgb(236, 241, 252); */
    
    background-color: rgba(255, 255, 255, 0.963);
    font-family: "Open Sans", Cambria, Georgia, serif;
    height: auto;
  }
  button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(37, 37, 37);
    font-size: 1.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    letter-spacing: 0.25em !important;
    /* font-weight: lighter; */
    outline: none;
  }
  button:hover {
    color: rgb(37, 37, 37);
    color: rgb(183, 183, 183);
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  button:focus {
    outline:none;
  }
  a {
    border: none;
    border-radius: 10px;
    /* color: rgb(37, 37, 37);
     */
    color: rgb(42, 97, 218);
    font-size: 1.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    letter-spacing: 0.3em !important;
    /* font-weight: lighter; */
  }
  a:hover {
    /* color: rgb(183, 183, 183);
     */
    color: rgb(125, 155, 219);
    text-decoration: none;
  }
  * {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
  } 