.nav-bar {
    right: 20%;
}
.nav-menu {
    display: block;
    list-style: none;
    padding-inline-start: 0;
}
.nav-menu-item {
    position: relative;
    display: flex;
}
.nav-anchor {
    font-size: small;
    padding: 0;
}
a:active {
    /* color: rgb(183, 183, 183); */
}
