.nav-bar {
    right: 20%;
}
.nav-menu {
    padding-top: 2vw;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-inline-start: 0;
    align-items: center;
}
.nav-menu-item {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}
a:active {
    /* color: rgb(183, 183, 183); */
}
