
ul {
    list-style: none;
    padding-inline-start: 0;
}

a {
    display: block;
    margin: var(--universal-margin);
}

@media (max-width: 50em) {  /* Portrait mode */
    li {
        display: inline-block;
    }
}

@media (min-width: 50em) and (orientation: landscape) { /* Landscape mode */
    li {
        text-align: left;
        margin-top: 2em;
        margin-bottom: 2em;
    }
}
